<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.organization }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Narystė<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/members/request.html">Prašymas įstoti</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/support/gpm_support.html">Parama</a>
                </li>
                <li>
                    <a href="/legal">Teisinė informacija</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ataskaitos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/report/2019">2019 metai</a></li>
                        <li><a href="/report/2018">2018 metai</a></li>
                        <li><a href="/report/2017">2017 metai</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/contact">Kontaktai</a>
                </li>
                <li>
                    <a href="https://blog.openmap.lt/" target="_blank">Tinklaraštis</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
