<!DOCTYPE html>
<html lang="lt">
{% include head.html %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NP4W837"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include navigation.html %}
    {% include carousel.html %}
    <!-- Page Content -->
    <div class="container">
       {{ content }}
       {% include footer.html %}
    </div>
    <!-- /.container -->
    {% include commonjs.html %}
</body>

</html>
<!-- Proudly Powered by GitHub | Generated {{ site.time }} | Revision {{ site.github.build_revision }} -->
